CDP_URL=http://localhost:9222
GPM_API_BASE=http://127.0.0.1:19995
GPM_PROFILE_ID=
MONGO_URL=mongodb://localhost:27017
MONGO_DB=tiktok_comment_collector
MONGO_COLLECTION=tiktok_comments
SCROLL_TIMES=25
MAX_REPLY_CLICKS=100
PAGE_TIMEOUT_MS=30000
